<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Rocket Web Inc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <virtualType name="MageOS\ShoppingFeed\Model\Product\Formatter\Meta\Availability" type="MageOS\ShoppingFeed\Model\Product\Formatter\ValueMap">
    <arguments>
      <argument name="values" xsi:type="array">
        <item name="in_stock" xsi:type="string">in stock</item>
        <item name="out_of_stock" xsi:type="string">out of stock</item>
        <item name="backorder" xsi:type="string">out of stock</item>
        <item name="preorder" xsi:type="string">out of stock</item>
        <item name="in stock" xsi:type="string">in stock</item>
        <item name="out of stock" xsi:type="string">out of stock</item>
        <item name="available for order" xsi:type="string">out of stock</item>
        <item name="discontinued" xsi:type="string">out of stock</item>
      </argument>
    </arguments>
  </virtualType>
  <virtualType name="MageOS\ShoppingFeed\Model\Product\Formatter\TikTok\Availability" type="MageOS\ShoppingFeed\Model\Product\Formatter\ValueMap">
    <arguments>
      <argument name="values" xsi:type="array">
        <item name="in_stock" xsi:type="string">in stock</item>
        <item name="out_of_stock" xsi:type="string">out of stock</item>
        <item name="backorder" xsi:type="string">available for order</item>
        <item name="preorder" xsi:type="string">preorder</item>
        <item name="in stock" xsi:type="string">in stock</item>
        <item name="out of stock" xsi:type="string">out of stock</item>
        <item name="available for order" xsi:type="string">available for order</item>
        <item name="discontinued" xsi:type="string">discontinued</item>
      </argument>
    </arguments>
  </virtualType>
  <virtualType name="MageOS\ShoppingFeed\Model\Product\Mapper\OpenAi\AdditionalImageLink" type="MageOS\ShoppingFeed\Model\Product\Mapper\Generic\Simple\AdditionalImageLink"/>
  <virtualType name="MageOS\ShoppingFeed\Model\Product\Mapper\TikTok\AdditionalImageLink" type="MageOS\ShoppingFeed\Model\Product\Mapper\Generic\Simple\AdditionalImageLink"/>
  <virtualType name="MageOS\ShoppingFeed\Model\Product\Formatter\Microsoft\Availability" type="MageOS\ShoppingFeed\Model\Product\Formatter\ValueMap">
    <arguments>
      <argument name="values" xsi:type="array">
        <item name="in_stock" xsi:type="string">in stock</item>
        <item name="out_of_stock" xsi:type="string">out of stock</item>
        <item name="backorder" xsi:type="string">out of stock</item>
        <item name="preorder" xsi:type="string">preorder</item>
        <item name="in stock" xsi:type="string">in stock</item>
        <item name="out of stock" xsi:type="string">out of stock</item>
        <item name="available for order" xsi:type="string">out of stock</item>
        <item name="discontinued" xsi:type="string">out of stock</item>
      </argument>
    </arguments>
  </virtualType>
  <virtualType name="MageOS\ShoppingFeed\Model\Product\Formatter\Pinterest\Availability" type="MageOS\ShoppingFeed\Model\Product\Formatter\ValueMap">
    <arguments>
      <argument name="values" xsi:type="array">
        <item name="in_stock" xsi:type="string">in stock</item>
        <item name="out_of_stock" xsi:type="string">out of stock</item>
        <item name="backorder" xsi:type="string">out of stock</item>
        <item name="preorder" xsi:type="string">preorder</item>
        <item name="in stock" xsi:type="string">in stock</item>
        <item name="out of stock" xsi:type="string">out of stock</item>
        <item name="available for order" xsi:type="string">out of stock</item>
        <item name="discontinued" xsi:type="string">out of stock</item>
      </argument>
    </arguments>
  </virtualType>
  <virtualType name="MageOS\ShoppingFeed\Model\Product\Formatter\Pinterest\CategoryPath" type="MageOS\ShoppingFeed\Model\Product\Formatter\CategoryPath">
    <arguments>
      <argument name="maxLevels" xsi:type="number">5</argument>
    </arguments>
  </virtualType>
  <virtualType name="MageOS\ShoppingFeed\Model\ResourceModel\Feed\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
    <arguments>
      <argument name="mainTable" xsi:type="string">mageos_shopping_feed_feed</argument>
      <argument name="resourceModel" xsi:type="string">MageOS\ShoppingFeed\Model\ResourceModel\Feed</argument>
    </arguments>
  </virtualType>
  <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
    <arguments>
      <argument name="collections" xsi:type="array">
        <item name="mageos_shopping_feed_grid_data_source" xsi:type="string">MageOS\ShoppingFeed\Model\ResourceModel\Feed\Grid\Collection</item>
      </argument>
    </arguments>
  </type>
  <type name="Magento\Framework\Console\CommandListInterface">
    <arguments>
      <argument name="commands" xsi:type="array">
        <item name="mageos_shopping_feed_generate" xsi:type="object">MageOS\ShoppingFeed\Console\Command\GenerateCommand</item>
        <item name="mageos_shopping_feed_generate_schedule" xsi:type="object">MageOS\ShoppingFeed\Console\Command\ScheduleCommand</item>
      </argument>
    </arguments>
  </type>
  <type name="MageOS\ShoppingFeed\Model\FeedTypes\Config">
    <arguments>
      <argument name="reader" xsi:type="object">MageOS\ShoppingFeed\Model\FeedTypes\Config\Reader</argument>
      <argument name="cacheId" xsi:type="string">mageos_shopping_feed_types_config</argument>
    </arguments>
  </type>
  <type name="Magento\Framework\Pricing\Render\Amount">
    <plugin name="MageOS_ShoppingFeed::microdataRemover" type="MageOS\ShoppingFeed\Plugin\MicrodataRemoverPlugin" sortOrder="100" disabled="false"/>
  </type>
  <type name="Magento\Theme\Block\Html\Title">
    <plugin name="MageOS_ShoppingFeed::microdataRemover" type="MageOS\ShoppingFeed\Plugin\MicrodataRemoverPlugin" sortOrder="100"/>
  </type>
  <type name="Magento\Catalog\Block\Product\View\Description">
    <plugin name="MageOS_ShoppingFeed::microdataRemover" type="MageOS\ShoppingFeed\Plugin\MicrodataRemoverPlugin" sortOrder="100"/>
  </type>
  <type name="MageOS\ShoppingFeed\Model\Generator">
    <plugin name="MageOS_ShoppingFeed::promotionCacheBatch" type="MageOS\ShoppingFeed\Plugin\PromotionCacheBatch"/>
  </type>
  <type name="MageOS\ShoppingFeed\Model\Feed">
    <plugin name="MageOS_ShoppingFeed::uniqueUseMicrodata" type="MageOS\ShoppingFeed\Plugin\FeedUseMicrodataUniqueByStore" sortOrder="110" disabled="false"/>
  </type>
  <type name="MageOS\ShoppingFeed\Model\Product\Adapter\AdapterAbstract">
    <plugin name="MageOS_ShoppingFeed::LocalInventoryFeed" type="MageOS\ShoppingFeed\Plugin\RegisterLocalInventoryProcessor"/>
  </type>
  <type name="MageOS\ShoppingFeed\Ui\Component\Listing\Column\File">
    <plugin name="mageos_shopping_feed_google_promotions_list_promotions_file" type="MageOS\ShoppingFeed\Ui\Component\Listing\Column\File\Plugin" sortOrder="100" disabled="false"/>
  </type>
</config>
